@import '../../../config/sass/index.scss';

.container {
    padding: 2rem 5rem;
    background-color: $category-no-found-color;
    border-radius: .7rem;
    @include d-flex-column;
    gap: 1rem;
    color: $dark-color;
}