@import "../../../config/sass/index.scss";

.errorContainer {
    @include d-flex-column;
    background-color: $error-red-background;
    width: 50vw;
    height: 20vh;
    color: $error-red-fontColor;
    border-radius: .7rem;
}