@import "../../config/sass/index.scss";

.postsContainer {
  @include d-flex-column;
  margin-bottom: 5vh;
  gap: 5rem;
  &__postsWrapper {
    @include d-flex-column;
    gap: 3rem;
    &__post {
      @include d-flex-column;
      align-items: flex-start;
      gap: 1rem;
      width: 80vw;
      padding: 2rem;
      box-shadow: $box-shadow;
      border-radius: 0.7rem;
      &__img {
        width: 90%;
        border-radius: 0.7rem;
      }
      &__category {
        color: $text-blue-color;
        font-size: 1rem;
        font-weight: bold;
      }

      &__title {
       @include header;
      }

      &__text {
        @include p;
      }

      &__read {
        color: $text-blue-color;
        font-size: 1rem;
        font-weight: bold;

        @media screen and (min-width: $desktop) {
          margin-top: 1rem;
        }
      }
    }
  }
}
