@import "../../config/sass/index.scss";

.postsContainer {
  @include d-flex-column;
  margin-bottom: 5vh;
  gap: 5rem;
  @media screen and (min-width: $desktop) {
    flex-direction: row;   
    gap: 1rem;
  }
  &__postsWrapper {
    @include d-flex-column;
    gap: 5rem;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__post {
      @include d-flex-column;
      align-items: flex-start;
      gap: 1rem;
      width: 80vw;
      padding: 2rem;
      box-shadow: $box-shadow;
      border-radius: 0.7rem;
      @media screen and (min-width: $tablet) {
        width: 40vw;
      }
      @media screen and (min-width: $desktop) {
        width: 25vw;
      }
      &__img {
        width: 90%;
        border-radius: 0.7rem;
      }
      &__category {
        color: $text-blue-color;
        font-size: 1rem;
        font-weight: bold;
      }

      &__title {
        @include header;
      }

      &__text {
        @include p;
      }

      &__read {
        color: $text-blue-color;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 1rem;
      }
    }
  }
}
