@import '../../../config/sass/index.scss';

.header {
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: $box-shadow;
    @include d-flex;
    justify-content: space-between;
    padding-left: 7vw;

    &__hamburgerMenu {
        width: 100vw;
        height: 100vh;
        display: none;
    }

    &__navMenu {
        display: none;
        @media screen and (min-width: $tablet) {
            @include d-flex;
            margin-right: 2rem;
            gap: 1rem;
        }
        &__nav {
            @include d-flex;
        }
        &__items {
            color: #dedede;
            @include d-flex;
            list-style-type: none;
            &__item {
                transition: color .7s;
                will-change: color;
                margin-right: 2rem;
            }
            &__item:hover {
                cursor: pointer;
                color: #2d2e2d;

            }
        }
    }

    &__titleSection {
        @include d-flex;
        gap: 1rem;
    }

    &__hamburgerSection {
        cursor: pointer;
        margin-right: 7vw;
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }

    &__h2 {
        font-weight: 700;
        color: #2d2e2d;
    }
}
