@import '../../../config/sass/index.scss';

.header {
    padding: 1rem 0;
    background-color: #fff;
    box-shadow: $box-shadow;
    @include d-flex;
    justify-content: space-between;
    padding-left: 1rem;

    &__titleSection {
        @include d-flex;
        gap: 1rem;
    }

    &__hamburgerSection {
        cursor: pointer;
        margin-right: 1rem;
    }

    &__h2 {
        font-weight: 700;
        color: #2d2e2d;
    }
}
