@import "../../../config/sass/index.scss";

.header {
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: $box-shadow;
  @include d-flex;
  justify-content: space-between;
  padding-left: 7vw;
  position: sticky;
  z-index: 100;
  top: 0;

  &__hamburgerMenu {
    height: 100vh;
    background-color: #fff;
    width: 100vw;
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateX(-100vw);
    padding: 2rem;
    animation: showMenu 1s linear forwards;
    &__close {
      @include d-flex;
      justify-content: flex-end;
    }
    &__nav {
      height: 90vh;
      @include d-flex-column;
      justify-content: flex-start;
      gap: 3rem;
      &__search {
        @include d-flex;
        gap: 0.4rem;
        &__inp {
          @include inp;
        }
        &__btn {
          @include btn;
        }
        &__btn:hover {
          @include btn-hover;
        }
      }
      &__imgReact {
        margin-left: 25vw;
      }
      &__imgJava {
        margin-right: 25vw;
      }
      &__items {
        color: #555;
        @include d-flex-column;
        list-style-type: none;
        text-align: center;
        gap: 0.5rem;
        &__item {
          transition: color, scale 1s;
          will-change: color, scale;
          font-size: 1.5rem;
        }
        &__item:hover {
          cursor: pointer;
          color: #000;
          scale: 1.1;
        }
      }
    }
  }

  &__navMenu {
    display: none;
    @media screen and (min-width: $tablet) {
      @include d-flex;
      margin-right: 2rem;
      gap: 1rem;
    }
    &__nav {
      @include d-flex;
    }
    &__search {
      transition: color, scale 1s;
      will-change: color, scale;
      cursor: pointer;
    }
    &__search:hover {
      cursor: pointer;
      color: #000;
      scale: 1.3;
    }
    &__items {
      color: #555;
      @include d-flex;
      list-style-type: none;
      &__item {
        transition: color, scale 1s;
        will-change: color, scale;
        margin-right: 2rem;
      }
      &__item:hover {
        cursor: pointer;
        color: #000;
        scale: 1.1;
      }
    }
  }

  &__titleSection {
    @include d-flex;
    gap: 1rem;
  }

  &__hamburgerSection {
    cursor: pointer;
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__h2 {
    font-weight: 700;
    color: #2d2e2d;
  }

  &__searchSection {
    position: fixed;
    backdrop-filter: blur(3px);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    @include d-flex;
    display: none;
    &__searchPlace {
      border-radius: 0.5rem;
      @include d-flex;
      gap: 1rem;
      &__btn {
        @include btn;
        padding: 1rem 1.5rem;
        cursor: pointer;
      }
      &__btn:hover {
        @include btn-hover;
      }
      &__inp {
        @include inp;
        padding: 1rem 7rem;
      }
    }
  }
}

@keyframes showMenu {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
