@import "../../config/sass/index.scss";

.container {
  @include d-flex-column;
  width: 100vw;
  padding: 2rem;
  color: $white-color;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6rem;
  &__navigation {
    @include d-flex;
    gap: 0.5rem;
    background-color: $dark-color;
    padding: 1rem;
    border-radius: .7rem; 
  }

  &__content {
    @include d-flex-column;
    gap: 3rem;
    &__tagsWrapper {
      @include d-flex;
      width: 100%;
      gap: 1rem;
      justify-content: flex-start;
      &__tag {
        background-color: $blue-color;
        padding: 0.7rem 1rem;
        border-radius: 0.4rem;
        font-size: 1.1rem;
      }
    }
    &__title {
      background-color: $dark-color;
      padding: 1rem;
      border-radius: .7rem; 
      font-size: 2rem;
    }
    &__description {
      font-size: 1.3rem;
      font-weight: 200;
      background-color: $dark-color;
      padding: 1rem;
      border-radius: .7rem; 
    }
    &__authorContainer {
      @include d-flex;
      gap: 1rem;
      width: 100%;
      justify-content: flex-start;
      &__img {
        background-color: $white-color;
        width: 4.5rem;
        height: 4.5rem;
        @include d-flex;
        border-radius: 100%;
      }
      &__author {
        width: 50%;
        font-size: 1.4rem;
      }
    }
  }
}

a {
  color: $white-color;
  text-decoration: none;
}
