//text colors

$text-dark-color: #2d2e32;
$text-blue-color: #147efb;

//background colors
$dark-white-background-color: #f9f9f9;
$nav-color: #fff;

//box-shadow
$box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06), 0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03);

//mixins

@mixin small-headers() {
    margin-top: $article-margin;
    color: $text-blue-color;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

@mixin below-headers() {
    text-align: center;
    color: $text-dark-color;
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 1rem;
    font-weight: 700;
}

@mixin d-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin d-flex-column() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin nav() {
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    background-color: $nav-color;
    @include d-flex;
}

@mixin p() {
    font-family: Mulish,sans-serif;
    color: #555;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
}

//breakpoint


$mobile: 560px;
$tablet: 768px;
$big-tablets: 900px;
$desktop: 1200px;

$article-margin: 2rem;