//text colors

$text-dark-color: #2d2e32;
$text-blue-color: #147efb;
$items-color: #555;
$text-red-color: #ff0000;
$text-green-color: #159a15;

//background colors
$white-background-color: #f9f9f9;
$nav-color: #fff;

//box-shadow
$box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, 0.06),
  0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, 0.03);

$box-shadow-category: 1px 1px 1px 1px $text-blue-color;

//mixins

@mixin items-will-hover() {
  transition: color, scale 1s;
  will-change: color, scale;
}

@mixin items-hover-effect() {
  cursor: pointer;
  color: #000;
  scale: 1.1;
}

@mixin header() {
  color: $text-dark-color;
  font-size: 1.7rem;
  font-weight: bold;
}

@mixin below-headers() {
  text-align: center;
  color: $text-dark-color;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 1rem;
  font-weight: 700;
}

@mixin d-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin d-flex-column() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin p() {
  font-family: Mulish, sans-serif;
  color: #555;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}

@mixin btn() {
  border-radius: 0.5rem;
  border: none;
  background-color: $text-blue-color;
  color: #fff;
  padding: 0.6rem;
  transition: scale 0.7s;
  will-change: scale;
  cursor: pointer;
}

@mixin btn-hover() {
  scale: 1.1;
}

@mixin inp() {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  font-size: 1rem;
}

//breakpoint

$mobile: 560px;
$tablet: 768px;
$big-tablets: 900px;
$desktop: 1200px;

$article-margin: 2rem;
