@import "../../config/sass/index.scss";

.footerContainer {
  font-family: "Arial";
  margin-top: 15rem;
  background-color: #2d2e2d;
  @include d-flex-column;
  padding: 2rem;
  gap: 3rem;
  &__name {
    @include d-flex;
    &__wrapper {
      @include d-flex;
      gap: 2rem;
      &__h3 {
        color: #fff;
        font-size: 1.7rem;
      }
    }
  }
  &__navigation {
    width: 100%;
    margin-left: 2rem;
    &__wrapper {
        @include d-flex-column;
        gap: 2rem;
        align-items: flex-start;
      color: #fff;
      &__nav {
        &__h3 {
          margin-bottom: 1rem;
          font-size: 1.7rem;
        }
        &__items {
          @include d-flex-column;
          gap: 0.3rem;
          align-items: flex-start;

          &__item {
            font-size: 1.2rem;
          }
        }
      }
      &__sources {
        @include d-flex;
        gap: 2rem;
        align-items: flex-start;
        &__source {
            @include d-flex;
            gap: .5rem;
            font-size: 1.3rem;
        }
    }
    }
  }
  &__signature {
    &__h4 {
        font-size: .8rem;
        color: #fff;
    }
  }
}
