@import "../../../config/sass/index.scss";

.footerContainer {
  font-family: "Arial";
  margin-top: 15rem;
  background-color: $dark-color;
  @include d-flex-column;
  padding: 2rem;
  gap: 3rem;
  @media screen and (min-width: $big-tablets) {
    padding: 2rem 10vw;
  }
  &__top {
    width: 100%;
    @include d-flex-column;
    gap: 5rem;
    @media screen and (min-width: $big-tablets) {
      flex-direction: row;
      align-items: flex-start;
      margin-top: 3rem;
    }
  }
  &__name {
    @include d-flex;
    &__wrapper {
      @include d-flex-column;
      @media screen and (min-width: $big-tablets) {
        gap: 3rem;
        justify-content: flex-start;
      }
      &__header {
        @include d-flex;
        gap: 1rem;
        &__h3 {
          @include header;
          color: $white-color;
          @media screen and (min-width: $big-tablets) {
            font-size: 2.5rem;
          }
        }
      }
      &__img {
        display: none;
        @media screen and (min-width: $big-tablets) {
          display: block;
          animation: opacityAnimation 8s infinite forwards;
          width: 100%;
        }
      }
    }
  }
  &__navigation {
    width: 100%;
    @include d-flex;
    @media screen and (min-width: $big-tablets) {
      justify-content: flex-end;
    }
    &__wrapper {
      @include d-flex-column;
      gap: 2rem;
      align-items: flex-start;
      color: $white-color;
      &__nav {
        margin-left: 2rem;

        &__h3 {
          @include header;
          color: $white-color;
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
        &__items {
          @include d-flex-column;
          gap: 0.3rem;
          align-items: flex-start;

          &__item {
            cursor: pointer;
            font-size: 1.2rem;
            transition: scale, color 0.7s;
            will-change: color, scale;
            &__a {
              color: $white-color;
            }
          }
          &__item:hover {
            scale: 1.1;
            color: $blue-color;
          }
        }
      }
      &__sources {
        width: 100%;
        @include d-flex;
        gap: 2rem;
        justify-content: flex-start;
        &__source {
          @include d-flex;
          gap: 0.5rem;
          font-size: 1.3rem;
          transition: color, scale 0.7s;
          will-change: color, scale;
          cursor: pointer;
        }
      }
    }
  }
  &__signature {
    &__h4 {
      font-size: 0.8rem;
      color: $white-color;
    }
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}

#yt:hover {
  scale: 1.1;
  color: $red-color;
}

#contact:hover {
  scale: 1.1;
  color: $blue-color;
}
